<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747358152551-dq1b6qsj80duilmii09hqidmh5hsgcmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747358152551-dq1b6qsj80duilmii09hqidmh5hsgcmm</string>
	<key>API_KEY</key>
	<string>AIzaSyC6LoN2NjIfWV1ZgR4vTPvIAAWhWv9Wh1s</string>
	<key>GCM_SENDER_ID</key>
	<string>747358152551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meSA.co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-cc27f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-cc27f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747358152551:ios:feee7b9a7f0750039271c2</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-cc27f.firebaseio.com</string>
</dict>
</plist>